:root {
  --blue: #002a57;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #1373d9;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../images/gyriBackground.jpg");
  background-size: cover;          /* roztáhne obrázek přes celé pozadí */
  background-position: center;     /* zarovná ho na střed */
  background-repeat: no-repeat;    /* zabrání opakování obrázku */
  background-attachment: fixed;    /* zajistí, že se obrázek nehýbe při scrollování */
}

/* NAVBAR STYLES */
.navbarContainer {
  width: 100vw;
  height: 5vw;
  background-color: var(--primary); /* doporučuji použít proměnnou */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0; /* přidáno, aby byl navbar přichycen nahoře */
  left: 0;
  color: var(--white);
  z-index: 1000; /* přidáno, aby byl nad obsahem */
}

.navbar {
  width: 60%;
  height: 80%;
  padding-right: 3.5%;
  display: flex;
  align-items: center;
}

.navbarLinks {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  align-items: center;
}

.navImageContainer {
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
}

.link {
  color: var(--white);
  text-decoration: none;
  font-size: 1.2vw;
  transition: color 0.3s;
  font-family: var(--font-family-monospace);
  font-weight: bold;
}

.link:hover {
  color: var(--light);
}

.logoGyri {
  height: 100%;
  width: auto;
}
